body{
margin:2rem;
padding: 5rem;
font-family: 'Source Sans Pro', sans-serif;
background-color: rgb(124, 122, 122);
color: rgb(255, 255, 255);

}

.main_wrapper{
margin-inline-start: auto;
max-width: 75%;
font-size: 1.8rem;
font-weight: normal;
}

#particles-js{
position: absolute;
z-index: -1;
}

.aside{
position: absolute;
left: 1rem;
font-size: 1.2rem;
font-weight: bolder;
}


a{
text-decoration: none;
cursor: pointer;
}


h1{
transition: all 0.5s ease;
cursor: pointer;
display: block;
letter-spacing: 3px;
font-size: 4rem;
font-weight:600;
}

h3{
font-size: 1rem;
font-weight:bolder;
}

footer{
display: block;
position: relative;
bottom: -5rem;
text-align: start;
font-size: 1.7rem;
font-weight: bolder;
}


@media screen and (max-width: 750px) {
	h1{
	font-size: 2rem;
	font-weight: 200;
	display: block;
	position: absolute;
	left: 1rem;
	}

.main_wrapper{
margin-inline-start: auto;
max-width: 25%;
font-size: 1.1rem;
font-weight: normal;
}

p{
 width: 40%;
font-size: 1.4rem;
font-weight: 100;
left: 1rem;
text-align:center;
}

body{
display: flex;
}
}


@media screen and (max-width: 450px) {
	h1{
	font-size: 1.1rem;
	font-weight: 100;
	display: block;
	position: absolute;
	left:0;
	}

.main_wrapper{
margin-inline-start: auto;
max-width: 5%;
font-size: 0.9rem;
font-weight: normal;
}

p{
font-size: 1.4rem;
font-weight: 100;
display: block;
position: absolute;
right: 1rem;

}

body{
display: block;
}
}